<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      
        <a mat-list-item [routerLink] ="['/home']" routerLinkActive="router-Link-Active">{{'Home' | uppercase }}</a>
        <a mat-list-item [routerLink] ="['/adress']" routerLinkActive="router-Link-Active">{{'Adress' | uppercase }}</a>
        <a mat-list-item [routerLink] ="['/home']" routerLinkActive="router-Link-Active">{{'Dash' | uppercase }}</a>
        <a mat-list-item [routerLink] ="['/drag']" routerLinkActive="router-Link-Active">{{'Drag' | uppercase }}</a>
        <a mat-list-item [routerLink] ="['/table']" routerLinkActive="router-Link-Active">{{'Tabla' | uppercase }}</a>
        <a mat-list-item [routerLink] ="['/tree']" routerLinkActive="router-Link-Active">{{'Tree' | uppercase }}</a>
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
       
      </button>
      <span>Angular-Project</span>
    </mat-toolbar>
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
